body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.playerSelect-btn {
   background: #EEE;
   padding: .5em;
   font-size: 1em;
}

.board-row {
  display: flex;
}


.board-row:after {
  // clear: both;
  // content: "";
  // display: table;
}

.status {
  min-height: 30px;
  text-align: center;
  font-size: 1.6em;
  margin-bottom: 20px;
  
  button {
    padding-top: 0;
    padding-bottom: 0;
    &:hover {
      background: #DFD;
      cursor: pointer;
    }
  }
}

.square {
  flex: 1 1 33%;
  background: #fff;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 105px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.availableSquare {
    background: #dfd;
}

button {
  border: none;
}

.square:nth-child(2) {
  border-left: 6px solid #222;
  border-right: 7px solid #222;
}

.game-board > div .board-row:nth-child(2) {
  background: red;
  border-bottom: 6px solid #111;
}

.game-board > div .board-row:nth-child(3) {
  background: red;
  border-bottom: 6px solid #111;
}

.horizontal {
  background-color: black;
  width: 315px;
  height: 5px;
}

.vertical {
  background-color: black;
  width: 5px;
  height: 315px;
}
.square:nth-child(1) {

}


.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {

}

.game {
  width: 315px;
  margin: 1em auto;
}

.game-info {
  margin-left: 20px;
}
